<%= form_for([@channel, @message], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h4>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :body, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :body, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :channel_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :channel_id, Channel.pluck(:name, :id), {}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
