<div class="page-header">
  <%= link_to channel_messages_path(@channel), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New message</h1>
</div>

<%= render 'form' %>
